body{

    background-size: cover;
    background-color:#252A34;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}



.area_cadastro{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center ;
    
}

.cadastro{
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    width: 355px;
    height: 600px;
    padding: 35px;
}

.cadastro form{
    width: 350px;
    display: flex;
    flex-direction: column;
}

.cadastro input{
     border: none;
    background-color: #252A34;
    color: #CBD0F7;
    margin-top: 15px;
    height: 35px;
    outline: none;
    font-size: 14px;
    border-radius: 8px;
}

.cadastro img{
    width: 120px;
    height: auto;
    
}

.cadastro::placeholder{
    color: #CBD0F7;
    padding-left: 10PX;
    
}

form [type="submit"]:hover{
    background-color: #5568Fe;
    color: #ffffff;
    font-size: 20px;
    display: block;
    height: 25px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

}

.cadastro h1{
    color: #ffffff;
}
.cadastro p{
    color: #ffffff;
}


    a{
        color:#5568Fe;
        text-decoration: none;
        margin-left: 10px; 
        border: #5568Fe;
    }

    a:link {color:#ffffff;}
    a:visited {color: #ffffff;}
    a:hover {color:#ffffff;}
    a:focus{color:#ffffff;}
    a:active {color:#ffffff;}

    
